html, body{
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
}
.dhx_cal_navline{
	display: none;
}
.dhx_matrix_scell{
	font-family: arial;
	font-size: 10pt;
	width:150px;
}
#tblegend{
	width: 90%;
	font-family: sans-serif;
	font-style: bold;
	font-size: 10pt;
	margin:4px 4px 4px 4px;
}

#news{
	font-family: sans-serif;
}

#tblegend td{
	width: 120px;
	text-align: center;
}

#tmmin1n{
	background-color: #00CC00;
}
#tmmin43{
	background-color: #33CCFF;
}
#tmmin53{
	background-color: #FFCC00;
}
#admassy{
	background-color: #FF0000;
}
#hino{
	background-color: #0033CC;
}
#tti{
	/*background-color: #F2F2F7;*/
	background-color:#BFB6BC;
}
#admkap{
	background-color: #FFFF00;
}
#kdplant{
	background-color: #9900CC;
}
#sim{
	width:120px;
	background-color: #FFCC80;
}